.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.title {
  color: crimson;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  margin: 10px;
  border: 2px solid aquamarine;
  width: 300px;
}
.card {
  background-color: rgb(400, 400, 100);
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 400px;
  padding: 10px;
  font-size: medium;
  margin: 5px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bold {
  font-weight: bolder;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
}

.filter {
  position: absolute;
  top: 150px;
  right: 20px;
}
button {
  border-radius: 20px !important;
  width: 120px;
}
select {
  border-radius: 4px;
}
